<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mzansi_money"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mzansi_money"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROG7313_POE_PERSONALBUDGETAPP">
        <activity
            android:name=".ActivityLogPage"
            android:exported="false" />
        <activity
            android:name=".LaunchPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPage" />
        <activity android:name=".RegActivity" />
        <activity android:name=".EditProfile" />
        <activity android:name=".ProfilePage" />
        <activity
            android:name=".CreateSavingsContribution"
            android:exported="false" />
        <activity
            android:name=".SavingsGoalPage"
            android:exported="false" />
        <activity
            android:name=".CreateSavingsGoal"
            android:exported="false"
            android:label="@string/title_activity_create_savings_goal" />
    </application>

</manifest>